@model List<ContactoModel>
@{
    ViewData["Title"] = "Listagem de Contactos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contacto" asp-action="Criar">Adicionar novo contacto </a>
    </div>
    <br />

    <h1 class="display-4">Listagem de Contactos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(ContactoModel contacto in Model)
                {
                    <tr>
                        <th scope="row">@contacto.Id</th>
                        <td>@contacto.NomeContacto</td>
                        <td>@contacto.Email</td>
                        <td>@contacto.Celular</td>

                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary"asp-route-id="@contacto.Id"  asp-controller="Contacto" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@contacto.Id" asp-controller="Contacto" asp-action="ApagarConfirmacao">Apagar</a>

                            </div>
                        </td>

                    </tr>
                }
            }

            
            
        </tbody>
    </table>
</div>
